[submodule "deps/network"]
	path = deps/network
	url = https://github.com/MasterQ32/zig-network.git
[submodule "deps/lmdb"]
	path = deps/lmdb
	url = https://github.com/lithdew/lmdb-zig.git
[submodule "deps/liblmdb"]
	path = deps/liblmdb
	url = https://github.com/LMDB/lmdb.git
[submodule "deps/zig-clap"]
	path = deps/zig-clap
	url = https://github.com/issotina/zig-clap.git
	branch = zig-master 